.welcomeImage{
    float: right;
    height: 70%;
    width : 45%;
    border-radius: 15px;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
    }
}

.parallaxImg{
    display: none;
}
@media(max-width : 600px){
    .welcomeImage{
        height: 50%;
        width: 100%;
        float: none;
        border-radius: 2px;
    }

    
}