.carousel{
    display: flex;
    height : 100%;
    width : auto;
    align-items: initial;
    // border : 1px solid #000;
}

.card{
    // border : 1px solid red;
    cursor: grabbing;
    padding : 15px;
}

@media(max-width : 600px){

    .carousel{
        width : 100%;
    }
    .card{
        height: 100%;
    }
}