.counter{
    height : 30vh;
    width : 100%;
    background-image: url('../../../media/counter/counter_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width:600px){
    .counter{
        height : 12vh;
        background-size: 100% 100%;
    }
}