.CustomerContainer{
    height: 80vh;
    width: 100%;
    padding : 0 80px;
    // border : 1px solid black;
}


.CustomerFeeds{
    padding : 5px;
    height: 80%;
    width : 100%;
    margin-bottom : 50px;

    // border : 1px solid black;
}


@media(max-width:600px){
    .CustomerContainer{
        padding : 10px;
    }
    .CustomerFeeds{
        margin-bottom: 20px;
        padding: 0;
        width : 100%;
    }
}