.gallery{
    height : 55%;
    width : 100%;
    // border : 1px solid black;    
    // overflow: hidden;
    white-space: nowrap;
}






@media (max-width : 600px){
    .gallery:first-child{
        margin-top: 50px;
    }
}