.gItem{
    display: inline-block;
    // position: relative;
    width : 500px;
    height : 100%;
    margin-right: 25px;
    border-radius : 5px 40px;
    overflow: hidden;
    // transform: translateX(100%);
    // border : 1px solid blue;
    
    img{
        height: 100%;
        width : 100%;
    }
}

@media(max-width:600px){
    .gItem{
        width: 400px;
    }
}