.Row{
    position: relative;
    height : 70%;
    width : 100%;
    padding : 0 30px;
    // border : 1px solid blue;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}



@media (max-width:600px){
    .Row{
        padding : 0;
        height: 85%;
        width: 100%;
        flex-flow: column wrap;
    }
}