.serviceContainer{
    padding : 30px;
    margin-top: 10px;
    height : auto;
    width  : 100%;
    // border : 1px solid red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

@media(max-width:600px){
    .serviceContainer{
        padding: 5px;
        height: 85%;
        flex-flow: column wrap;
    }
}