.serviceContainer{
    padding : 30px;
    margin-top: 50px;
    height : auto;
    width  : 100%;
    // border : 1px solid red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

@media(max-width:600px){
    .serviceContainer{
        padding: 10px;
        height: 80%;
        flex-flow: column wrap;
        // gap: 10px ;
    }
}