@import"https://fonts.googleapis.com/css2?family=Lora&display=swap";

.item{
    height: 100%;
    width : 400px;
    /* border : 1px solid #ccc; */
}

.header{
    text-align: left;
    line-height: 36px;
    margin-bottom: 10px;
}

.header h1{
    color: #0f0e17;
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.content{
    height: auto;
    width: 100%;
    text-align: justify;
}

.content p{
    color: darkgray;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 30px;
    /* word-spacing: 4px; */
}


@media (max-width : 600px){
    .item{
        margin-bottom: 15px;
    }
    .header {
        line-height : 10px;
    }

    .header h1{
        font-size : 1em;
    }
    .content p{
        /* border : 1px solid #ccc; */
        padding : 2px;
        font-size: 11px;
        line-height: 22px;
    }
}