// @import "https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@600&family=Oswald&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Judson&display=swap');

.title{
    height: auto;
    width: 100%;
    margin : 40px 0;
    border-bottom : 1px solid #8377D1;
    text-align: left;
    // border : 1px solid red;
    
}

.heading{
    // text-transform: uppercase;
    // font-family: 'Libre Baskerville', serif;
    font-family: 'Castoro', serif;
    font-size: 1.6em;
    font-weight: lighter;
    color : #001233;
    line-height: 40px;
    // margin-left  : 50px;
    // lighten($color: #1e2227, $amount: 20%);
    // #8377d1;
    // #268cff;
    
}

@media (max-width: 600px){
    .title{
        width : 100%;
        margin: 20px 0;
        padding : 2px;
    }

    .heading{
        margin-left: 0;
        line-height: 30px;
        font-size : 20px;
    }
}