.detail{
    height: 35%;
    width: 100%;
    /* padding : 20px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom : 1px solid #ccc;
    overflow: hidden;
}

.detailContent{
    height:80%;
    padding: 5px;
    /* border : 1px solid red; */
}

.detailContent img{
    height: 50%;
    margin-bottom: 10px;
}

.detailContent h1{
    line-height : 30px;

}

.detailContent h1 a{
    text-decoration: none;
    font-size : 20px;
    font-family : -apple-system-body;
}


@media (max-width : 600px){

    .detailContent img{
        height : 30%;
    }

    .detailContent h1 a{
        font-size : 15px;
    }
}