.detail{
    height: 35%;
    width: 100%;
    padding : 20px 0;
    border-bottom : 1px solid #ccc;
}

.detail img{
    height : 40%;
}

.detail h1{
    margin-top : 10px;
    /* border : 1px solid red; */
    padding : 5px;
}

.detail h1>a{
    font-family: -apple-system-body;
    line-height: 30px;
    /* color : #000; */
    font-size: 20px;
    text-decoration: none;
}

@media (max-width : 600px){
    
    .detail img{
        height : 50px;
    }

    .detail h1{
        margin-top: 0;
    }
    .detail h1>a{
        line-height: 20px;
        font-size: 12px;
    }
}