.CarouselContainer{
    margin : 30px auto;
    height : 80%;
    width : 100%;
    /* align-items: initial; */
    /* border : 1px solid red; */
}

.items{
    border-radius : 10px;
    height: 600px;
}
.items img{
    border-radius : 10px;
    height: 90%;
    width: 80%;
}
@media(max-width:600px){
    .CarouselContainer{
        margin: 15px auto;
        height : 80%;
        width : 100%;
        align-items: initial;
        
    }
    .items{
        height: 80%;
    }
    .items img{
        height: 100%;
        width: 100%;
    }
}