.CarouselContainer{
    margin-top : 30px;
    height : 90%;
    width : 100%;
    /* align-items: initial; */
    /* border : 1px solid red; */
}

.items{
    border-radius : 10px;
    overflow: hidden;
    height: 600px;
}
.items img{
    border-radius : 10px;
    height: 90%;
    width: 80%;
}
@media(max-width:600px){
    .CarouselContainer{
        margin-top: 15px;
        align-items: initial;
    }
    .items{
        height: 95%;
    }
    .items img{
        height: 100%;
        width: 100%;
    }
}