.row{
    display: inline-block;
    /* border : 1px solid red; */
    height: 100%;
    width: auto;
    /* white-space: nowrap; */
    padding: 10px 0;
}



.slider1{
    animation : slider 20s linear infinite;
}

.slider2{
    animation : slider 24s linear infinite;
}




@keyframes slider{
    0%{
        transform: translateX(0%);
    }
    
    100%{
        transform: translateX(-100%);
    }
}


