.toolbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background:linear-gradient(to right, rgba(#1e2227,1), rgba(#1e2227,0.2));
    overflow: hidden;
    transition: 0.4s transform ease;
    z-index : -1;
}

.Open{
    transform: translateX(0%);
}

.Close{
    transform: translateX(100%);
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index : -2;

}
@media (min-width:600px){
    .toolbar, .overlay{
        display: none;
    }
}