.Details{
    padding : 10px 0;
    margin-left :  50%;
    transform: translateX(-50%);
    width: 50%;
    height : 75vh;
    border-radius: 5px;
    box-shadow: 
                inset 0px 0px 8px #ccc,
                inset -1px -1px 8px #ccc;
    
    overflow: hidden;
}


@media (max-width: 600px){
    .Details{
        margin-top : 50px;
        margin-bottom : 50px;
        width: 80%;
        gap : none;
    }
}