.Details{
    margin-left :  50%;
    transform: translateX(-50%);
    height : 100%;
    width: 60%;
    border-radius: 5px;
    border : 1px solid #ccc;
    box-shadow: 
                inset 0px 0px 8px #ccc,
                inset -1px -1px 8px #ccc;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap : 30px;
    flex-flow: column wrap;
    overflow: hidden;
}


@media (max-width: 600px){
    .Details{
        margin-top : 50px;
        margin-bottom : 50px;
        width: 80%;
        height: auto;
        gap : none;
    }
}