.Details{
    padding : 10px 0;
    margin : 0 auto;
    height : 80vh;
    width: 50%;
    /* height : 75vh; */
    border-radius: 5px;
    box-shadow: 
                inset 0px 0px 8px #ccc,
                inset -1px -1px 8px #ccc;
    
    overflow: hidden;
}


@media (max-width: 600px){
    .Details{
        margin: 50px auto;
        width: 90%;
    }
}